PORT=5000
MONGO_URI=mongodb://lalithapavani:Pavani123@ac-7x5vm3m-shard-00-00.xyqld7e.mongodb.net:27017,ac-7x5vm3m-shard-00-01.xyqld7e.mongodb.net:27017,ac-7x5vm3m-shard-00-02.xyqld7e.mongodb.net:27017/?ssl=true&replicaSet=atlas-3xvmbq-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_jwt_secret_here
